//COLORS
$color-primary-green    : #55c57a;
$color-secondary-green  : #7ed56f;
$color-terichry-green   : #28b485;

$color-primary-orange   : #ffb900;
$color-secondary-orange : #ff7730;

$color-primary-blue     : #2998ff;
$color-secondary-blue   : #5643fa;

$color-light-gray       : #f7f7f7;
$color-gray             : #777;
$color-white            : #fff;
$color-black            : #000;

//GEID

$gurtter-vertical       : 8rem;
$gurtter-horizontal-sm  : 4rem;
$gurtter-horizontal     : 6rem;
$row-width              : 114rem;

//FONT
$default-font-size      : 1.6rem;