//colours
$color-secondary-green: #7ed56f;
$color-primary-green : #55c57a;
$color-terichry-green: #28b485;

$color-light-gray: #f7f7f7;
$color-gray : #777;
$color-white: #fff;
$color-black: #000;

//grid

$gurtter-vertical  : 8rem;
$gurtter-horizontal: 6rem;
$row-width        : 114rem;

//FONT
$default-font-size : 1.6rem;