/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 20px;
}

.header{
    background-image: linear-gradient(to right bottom, #7ed56fcc,#55c57acc),url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    height: 95vh;
    position: relative;
    width: 100%;
    clip-path: polygon(0 0,100% 0, 100% 80%, 0 100%)
}

.logo{
    position: absolute;
    left: 40px;
    top: 40px;
}

.logo{
    height: 35px;
}

.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.heading-primery{
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

.heading-primery-main{
    display: block;
    font-size: 60px;
    letter-spacing: 35px;
    /* animation: moveRight 1s; */
    animation-name: moveRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.heading-primery-sub{
    display: block;
    font-size: 20px;
    letter-spacing: 15.6px;
    animation: moveLeft 1s;
    margin-bottom: 30px;
}


@keyframes moveRight{
    0%{
        opacity: 0;
        transform: translateX(-80px)
    }
    80%{
        transform: translateX(10px)
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveLeft{
    0%{
        opacity: 0;
        transform: translateX(80px)
    }
    80%{
        transform: translateX(-10px)
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.btn{
    text-decoration: none;
    color: #777;
    background-color: #fff;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 50px;
    transition: 0.2s
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);  
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}