@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-8rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(8rem); }
  80% {
    transform: translateX(-8rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveBtnUp {
  0% {
    opacity: 0;
    transform: translateY(8rem); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 2rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    font-weight: 400;
    display: block;
    font-size: 6rem;
    letter-spacing: 35px;
    animation-name: moveRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveLeft 1s ease-out; }

.heading-secondary {
  font-weight: 700;
  display: inline-block;
  font-size: 2.8rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #55c57a);
  -webkit-background-clip: text;
  color: transparent; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase; }
  .heading-tertiary--low-font {
    font-size: 1.5rem; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.txt-align-center {
  text-align: center; }

.mb-0 {
  margin-bottom: 0rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.mb-6 {
  margin-bottom: 6rem; }

.mb-7 {
  margin-bottom: 7rem; }

.mb-8 {
  margin-bottom: 8rem; }

.btn:link, .btn :visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  position: relative;
  border-radius: 5rem;
  transition: 0.2s;
  font-size: 1.6rem; }

.btn--white {
  color: #777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  color: #fff;
  background-color: #55c57a; }
  .btn--green::after {
    background-color: #55c57a; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(1.4, 1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  border-radius: 5rem;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  transition: .4s; }

.btn--animated {
  animation: moveBtnUp 1s ease-out .75s backwards; }

.text-btn:link, .text-btn:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: .2s; }

.text-btn:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.text-btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.bg-video {
  position: absolute;
  opacity: 0.15;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  height: 100%; }

.compostion {
  position: relative; }
  .compostion__photo {
    transition: .2s;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
    .compostion__photo--p1 {
      position: absolute;
      top: -2rem;
      left: 0; }
    .compostion__photo--p2 {
      position: absolute;
      top: 2rem;
      right: 0; }
    .compostion__photo--p3 {
      position: absolute;
      top: 10rem;
      left: 10%; }
    .compostion__photo:hover {
      transform: scale(1.05);
      z-index: 1;
      cursor: pointer;
      box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5); }
  .compostion:hover .compostion__photo:not(:hover) {
    transform: scale(0.9); }

.card {
  perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all .8s ease-out;
    position: absolute;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 10px; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--b1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back--b2 {
        background-image: linear-gradient(to right bottom, #55c57a, #7ed56f); }
      .card__side--back--b3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card__img {
    height: 20rem;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-blend-mode: screen; }
    .card__img--1 {
      background-image: url("../../img/nat-5.jpg"), linear-gradient(to right bottom, #ffb900, #ff7730); }
    .card__img--2 {
      background-image: url("../../img/nat-6.jpg"), linear-gradient(to right bottom, #55c57a, #7ed56f); }
    .card__img--3 {
      background-image: url("../../img/nat-7.jpg"), linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card__title {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 12rem;
    right: 2rem;
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    width: 62%; }
  .card__title-span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1rem 1.5rem; }
    .card__title-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__title-span--2 {
      background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.85), rgba(126, 213, 111, 0.85)); }
    .card__title-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__features-list {
    padding: 3rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    list-style-type: none; }
    .card__features-list li {
      padding: 1rem;
      border-bottom: 1px solid #eee; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__cta {
    padding: 10rem 0;
    text-align: center; }
    .card__cta-only {
      text-align: center;
      color: #fff;
      font-size: 3rem; }
    .card__cta-price {
      text-align: center;
      color: #fff;
      font-size: 6rem;
      font-weight: 200; }

.features-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  height: max-content;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  transition: .2s; }
  .features-box__icon {
    background-image: linear-gradient(to right, #55c57a, #7ed56f);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 5rem; }
  .features-box:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #777; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transform: translateY(-4rem); }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewx(-12deg);
  font-size: 1.6rem; }
  .story h3 {
    margin-bottom: 3rem;
    text-transform: uppercase; }
  .story:not(:last-child) {
    margin-bottom: 4rem; }
  .story__shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    overflow: hidden;
    border-radius: 50%;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewx(12deg); }
  .story__img {
    height: 100%;
    margin-left: -3rem;
    transform: scale(1.4);
    transition: .3s ease-out; }
  .story__text {
    transform: skewx(12deg); }
  .story__caption {
    color: #fff;
    opacity: 0;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease-out; }
  .story:hover .story__caption {
    top: 50%;
    opacity: 1; }
  .story:hover .story__img {
    filter: blur(3px) brightness(80%);
    transform: scale(1); }

.header {
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(126, 213, 111, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  height: 95vh;
  position: relative;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .header__logo {
    height: 3.5rem; }
  .header__logo-box {
    position: absolute;
    left: 4rem;
    top: 4rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-9 {
    width: calc(3*(100% - 18rem)/4 + 2*6rem); }
  .row .col-6 {
    width: calc((100% - 6rem)/2); }
  .row .col-4 {
    width: calc((100% - 6rem*2)/3); }
  .row .col-3 {
    width: calc((100% - 18rem)/4); }
    .row .col-3--smg {
      width: calc((100% - 12rem)/4); }
      .row .col-3--smg:not(:last-child) {
        margin-right: 4rem; }

.navigation__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.3rem;
  padding: 1rem 1.5rem;
  background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
  background-size: 230%;
  background-position: 0%;
  transition: .3s ease-out; }
  .navigation__link:hover {
    color: #7ed56f;
    transform: translateX(1rem);
    background-position: 100%; }

.navigation__item {
  text-align: center;
  list-style: none;
  margin: 2rem auto; }

.navigation__list {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 0;
  width: 0;
  opacity: 0;
  transition: 0.6s cubic-bezier(0.34, -0.38, 0.63, 1.43); }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
  transition: 0.6s cubic-bezier(0.34, -0.38, 0.63, 1.43); }

.navigation__background {
  position: fixed;
  top: 6rem;
  right: 6rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-image: radial-gradient(#7ed56f 40%, #55c57a 80%);
  z-index: 100;
  transition: .6s ease-out; }

.navigation__button {
  text-align: center;
  position: relative;
  background-color: #fff;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  top: 5.5rem;
  right: 5.5rem;
  position: fixed;
  z-index: 102; }

.navigation__icon {
  position: relative;
  margin-top: 3rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    transition: .3s ease-out;
    background-color: #333;
    width: 3rem;
    height: 2px;
    display: inline-block; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::after {
    top: -1rem; }
  .navigation__icon::before {
    top: .9rem; }

.navigation__checkbox {
  display: none; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(60); }

.navigation__checkbox:checked ~ .navigation__nav {
  z-index: 101; }

.navigation__checkbox:checked ~ .navigation__nav .navigation__list {
  opacity: 1;
  width: 100%;
  left: 50%; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(45deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(-45deg);
  top: 0; }

.navigation__button:hover .navigation__icon::after {
  top: -1.1rem; }

.navigation__button:hover .navigation__icon::before {
  top: 1rem; }

.about-section {
  background-color: #f7f7f7;
  padding: 25rem 5rem;
  margin-top: -20vh; }

.features-section {
  width: 100%;
  padding: 20rem 3rem;
  background-size: cover;
  margin-top: -6rem;
  background-position: top;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(126, 213, 111, 0.8)), url(../../img/nat-4.jpg);
  transform: skewY(-7deg); }
  .features-section > * {
    transform: skewY(7deg); }

.popular-section {
  margin-top: -8rem;
  padding: 20rem 5rem;
  background-color: #f7f7f7; }

.reviews-section {
  position: relative;
  overflow: hidden;
  padding: 10rem 0; }

.booking-section {
  background-image: linear-gradient(to right bottom, #55c57a, #7ed56f);
  padding: 25rem 0; }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 50%, transparent 50%), url("../../img/nat-10.jpg");
  width: 75%;
  height: 35rem;
  padding: 3rem;
  background-size: 100%;
  margin: 0 auto;
  background-repeat: no-repeat; }
  .book__form {
    width: 50%; }
