.row{
    max-width: $row-width;
    margin: 0 auto;
    
    &:not(:last-child){
        margin-bottom: $gurtter-vertical;
    }

    @include clearfix;


    [class^="col-"]{
        float: left;
        &:not(:last-child){
            margin-right: $gurtter-horizontal;
        }
    }

    .col-9{
        width: calc(3*(100% - #{$gurtter-horizontal*3})/4 + 2*#{$gurtter-horizontal}) ;
    }

    .col-6{
        width: calc((100% - #{$gurtter-horizontal})/2);
    }

    .col-4{
        width: calc((100% - #{$gurtter-horizontal}*2)/3);
    }

    .col-3{
        width: calc((100% - #{$gurtter-horizontal*3})/4);
        &--smg{
            width: calc((100% - #{$gurtter-horizontal-sm*3})/4);
            &:not(:last-child){
                margin-right: $gurtter-horizontal-sm;
            }
        }
    }


}