.compostion{
    position: relative;
    &__photo{

        transition: .2s;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.5);
        
        &--p1{
            position: absolute;
            top:-2rem;
            left: 0;
        }

        &--p2{
            position: absolute;
            top: 2rem;
            right: 0;
        }

        &--p3{
            position: absolute;
            top: 10rem;
            left: 10%;
        }

        &:hover{
            transform: scale(1.05);
            z-index: 1;
            cursor: pointer;
            box-shadow: 0 2rem 3rem rgba($color-black, 0.5);
        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(.9)
    }
}